# Hypothesis Testing Exercise

By Lindy Castellaw Jessica Gardin, David Schneemann, Meredith Wang

# 1 Has the network latency gone up since we switched internet service providers?

H0 = The time for computer ping has increased.

Ha = The time for computer ping is equal or has decreased.

True Positive

    small p-value -- < alpha (.001)
    reject ð»0

    (The data shows that survey score did improve)
    avg survey score before switching internet service: 65 ms
    avg survey score after switching internet service: 60 ms

False Positive

    small p-value
    reject ð»0

    test was re-taken while internet activity had significantly increased, causing an increase in ping time

True Negative

    higher p-value
    fail to reject ð»0

    (The data shows that survey score did improve)
    avg survey score before switching internet service: 65 ms
    avg survey score after switching internet service: 60 ms

False Negative

    higher p-value
    fail to reject ð»0
    
    test was originally taken while internet activity had significantly increased, causing an increase in ping time

# 2 Is the website redesign any good?

H0 = Website has same or fewer visits.

Ha = Website has more visits.

True Positive

    small p-value -- < alpha (.001)
    reject ð»0

    (The data shows that redesign did improve the website)
    avg visits before redesign: 1,000
    avg visits after redesign: 5,000

False Positive

    small p-value
    reject ð»0

    avg visits before redesign: 1,000
    avg visits after redesign: 5,000
    
    Second test was done on Cyber Monday

True Negative

    higher p-value
    fail to reject ð»0

    (The data shows that the website did worse after redesign)
    avg visits before redesign: 5,000
    avg visits after redesign: 1,000

False Negative

    higher p-value
    fail to reject ð»0
    
    (The data shows that the website did worse after redesign)
    avg visits before redesign: 5,000
    avg visits after redesign: 1,000

    website crashed during re-test

# 3 Is our television ad driving more sales?

H0 = Monthly Avg sales stayed the same or decreased after airing ad

Ha = Monthly Avg sales increased after airing ad

True Positive

    small p-value -- < alpha (.001)
    reject ð»0

    (The data shows that sales increased after airing ad)
    avg monthly sales before ad: 10,000
    avg monthly sales after ad: 15,000

False Positive

    small p-value
    reject ð»0

    (The data shows that sales increased after airing ad)
    avg monthly sales before ad: 10,000
    avg monthly sales after ad: 15,000
    
    competitor across street closed for second test

True Negative

    higher p-value
    fail to reject ð»0

    (The data shows that sales decreased after airing ad)
    avg monthly sales before ad: 15,000
    avg monthly sales after ad: 10,000

False Negative

    higher p-value
    fail to reject ð»0
    
    (The data shows that sales decreased after airing ad)
    avg monthly sales before ad: 15,000
    avg monthly sales after ad: 10,000

    extreme weather caused lower customer traffic

In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from pydataset import data
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [5]:
mpg.describe

<bound method NDFrame.describe of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

In [ ]:
usa_hp = df[df.origin == 'usa'].horsepower
japan_hp = df[df.origin == 'japan'].horsepower